:root {
  --color-grey-dark-1: #414042;
  --color-grey-dark-2: #58595B;
  --color-grey-dark-3: #6D6E71;
  --color-grey-light-1: #D1D3D4;
  --color-grey-light-2: #E6E7E8;
  --color-grey-light-3: #F1F2F2;
  --color-orange-1: #DF8600;
  --color-orange-2: #F39629;
  --color-orange-3: #FFC46B;
  --main-color-1: #FBE7B5;
  --main-color-2: #FBCEB5;
  --main-color-3: #FE9E76;
  --main-color-4: #FF756B;
  --main-color-5: #F85C50;
  --color-brown-1: #8b5a2b;
  --color-brown-2: #8b4513;
  --color-brown-3: #7d3e11;
  --color-brown-4: #6f370f;
  --color-brown-5: #96572a;
  --color-brown-6: #a26a42;
  --color-brown-7: #ffa54f;
  --color-brown-8: #a0522d;
  --color-brown-9: #b98f71;
  --shadow-light: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-superdark: 0 2rem 6rem rgba(0, 0, 0, 0.9);
  --color-50sog-1: #bdc3c7;
  --color-50sog-2: #2c3e50;
  --color-sunset-1: #0b486b;
  --color-sunset-2: #f56217;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to bottom, var(--color-sunset-2), var(--color-sunset-1));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-image: linear-gradient(to bottom, var(--color-50sog-1), var(--color-50sog-2));
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coffeehouse-view {
  height: 80rem;
  flex: 1;
}

.logo {
  height: 7rem;
  margin-left: 3rem;
}

.search {
  flex: 0 0 45%;
  display: flex;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 75%;
  transition: all .2s;
  margin-right: -3.25rem;
}
.search__input:focus {
  outline: none;
  width: 90%;
  background-color: var(--color-grey-light-3);
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}
.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}
.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: .5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-sunset-2);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.3s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: var(--color-grey-light-3);
}
.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-sunset-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}

.legal {
  color: var(--color-brown-9);
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
}

.filter-twitter {
  filter: invert(52%) sepia(88%) saturate(2457%) hue-rotate(176deg) brightness(100%) contrast(91%);
}

.filter-facebook {
  filter: invert(31%) sepia(10%) saturate(3359%) hue-rotate(183deg) brightness(101%) contrast(88%);
}

.filter-linkedin {
  filter: invert(33%) sepia(86%) saturate(569%) hue-rotate(157deg) brightness(98%) contrast(97%);
}

.filter-gmail {
  filter: invert(35%) sepia(49%) saturate(2159%) hue-rotate(337deg) brightness(87%) contrast(89%);
}

.filter-tripadvisor {
  filter: invert(66%) sepia(57%) saturate(7076%) hue-rotate(138deg) brightness(96%) contrast(101%);
}

.filter-search {
  filter: invert(58%) sepia(53%) saturate(437%) hue-rotate(329deg) brightness(110%) contrast(99%);
}

/*# sourceMappingURL=main.css.map */
