:root {
  --color-grey-dark-1: #414042;
  --color-grey-dark-2: #58595B;
  --color-grey-dark-3: #6D6E71;
  --color-grey-light-1: #D1D3D4;
  --color-grey-light-2: #E6E7E8;
  --color-grey-light-3: #F1F2F2;
  --color-orange-1: #DF8600;
  --color-orange-2: #F39629;
  --color-orange-3: #FFC46B;
  --main-color-1: #FBE7B5;
  --main-color-2: #FBCEB5;
  --main-color-3: #FE9E76;
  --main-color-4: #FF756B;
  --main-color-5: #F85C50;
  --shadow-light: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-superdark: 0 2rem 6rem rgba(0, 0, 0, 0.9);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--main-color-3), var(--main-color-5));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
}

.coffeehouse-view {
  background-color: orangered;
  flex: 1;
}

.logo {
  height: 5.25rem;
  margin-left: 3rem;
}

.search {
  flex: 0 0 45%;
  display: flex;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 75%;
  transition: all .2s;
  margin-right: -3.25rem;
}
.search__input:focus {
  outline: none;
  width: 90%;
  background-color: var(--color-grey-light-3);
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-dark-3);
}
.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}
.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
}

.filter-twitter {
  filter: invert(52%) sepia(88%) saturate(2457%) hue-rotate(176deg) brightness(100%) contrast(91%);
}

.filter-facebook {
  filter: invert(31%) sepia(10%) saturate(3359%) hue-rotate(183deg) brightness(101%) contrast(88%);
}

.filter-linkedin {
  filter: invert(33%) sepia(86%) saturate(569%) hue-rotate(157deg) brightness(98%) contrast(97%);
}

.filter-gmail {
  filter: invert(35%) sepia(49%) saturate(2159%) hue-rotate(337deg) brightness(87%) contrast(89%);
}

.filter-tripadvisor {
  filter: invert(66%) sepia(57%) saturate(7076%) hue-rotate(138deg) brightness(96%) contrast(101%);
}

.filter-search {
  filter: invert(58%) sepia(53%) saturate(437%) hue-rotate(329deg) brightness(110%) contrast(99%);
}

/*# sourceMappingURL=main.css.map */
