.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;

}

.sidebar {
  background-image: linear-gradient(to bottom,
          var(--color-50sog-1), var(--color-50sog-2));

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coffeehouse-view {
  height: 75rem;
  flex: 1;
}

.details {
  display: flex;
  justify-content: space-around;
  // justify-content: space-around;
  // font-size: 1.4rem;
  // padding-top: 2rem;
}

.description {
  flex: 1;
  background-color: var(--color-grey-light-2);
}


.user-reviews {
  padding-top: 2rem;
  display: flex;
}

.review {
  flex: 1;
  align-items: center;

}


//     margin-left: 2rem;
//     font-weight: 300;
// }