<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="header" th:fragment="header">
    <img src="img/logo/logo-cut.jpg" alt="Coffehouse logo" class="logo">

    <form action="#" class="search">
        <input type="text" class="search__input" placeholder="Search products">
        <button class="search__button">
            <img src="img/svg/icons/search.svg" alt="search__icon" class="search__icon filter-search">
        </button>
    </form>

    <div class="user-nav">
        <div class="user-nav__icon-box">
            <a href="#" class=""><img src="img/svg/brands/tripadvisor.svg" alt="nav__icon" class="user-nav__icon filter-tripadvisor"></a>
        </div>
        <div class="user-nav__icon-box">
            <a href="#" class=""><img src="img/svg/brands/twitter.svg" alt="nav__icon" class="user-nav__icon filter-twitter"></a>
        </div>
        <div class="user-nav__icon-box">
            <a href="#" class=""><img src="img/svg/brands/gmail.svg" alt="nav__icon" class="user-nav__icon filter-gmail"></a>
        </div>
        <div class="user-nav__icon-box">
            <a href="#" class=""><img src="img/svg/brands/facebook.svg" alt="nav__icon" class="user-nav__icon filter-facebook"></a>
        </div>
        <div class="user-nav__icon-box">
            <a href="#" class=""><img src="img/svg/brands/linkedin.svg" alt="nav__icon" class="user-nav__icon filter-linkedin"></a>
        </div>
    </div>

</header>
</body>
</html>