<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="sidebar" th:fragment="sidebar">
    <ul class="side-nav">
        <li class="side-nav__item side-nav__item--active">
            <a th:href="@{/}" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="img/sprite.svg#icon-info":></use>
                </svg>
                <span>Information's</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a th:href="@{/coffees2}" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="img/sprite.svg#icon-mug":></use>
                </svg>
                <span>Coffees</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="img/sprite.svg#icon-spoon-knife":></use>
                </svg>
                <span>Food</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="img/sprite.svg#icon-glass":></use>
                </svg>
                <span>Wines</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="img/sprite.svg#icon-books":></use>
                </svg>
                <span>Books</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="img/sprite.svg#icon-location":></use>
                </svg>
                <span>Location</span>
            </a>
        </li>
    </ul>
    <div class="legal">
        &copy; 2020 by Coffeehouse. All rights reserved
    </div>
</nav>

</body>
</html>