<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layouts/layout :: layout(~{::title}, ~{::main})">
<head>
    <title>Coffee Paradise &mdash; Coffees</title>
</head>

<body>
<div class="container">
    <div class="content">
        <main class="coffeehouse-view">
            <div class="gallery">
                <figure class="gallery__item">
                    <img th:src="@{/img/banner/Coffee1-banner.jpg}" class="gallery__photo"/>
                </figure>
            </div>

            <!--/*@thymesVar id="coffeeList" type="java.util.List<adrianromanski.coffeehouse.domain.drink.Coffee>"*/-->
            <h1>Coffees</h1>
            <div th:remove="all">Coffee 1</div>
            <div th:remove="all">Coffee 2</div>
            <div th:each="coffee : ${coffeeList}">
                <b>Name: </b><span th:text="${coffee.name}">Coffee name</span>
            </div>
        </main>
    </div>
</div>
</body>

</html>