<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="shortcut icon" type="image/png" href="img/logo/favicon.png">

        <title>Coffee Paradise &mdash; Time for a break</title>
    </head>
    <body>
    <div class="container">
        <header class="header">
            <img src="img/logo/logo-cut.jpg" alt="Coffehouse logo" class="logo">

            <form action="#" class="search">
                <input type="text" class="search__input" placeholder="Search products">
                <button class="search__button">
                    <img src="img/svg/icons/search.svg" alt="search__icon" class="search__icon filter-search">
                </button>
            </form>

            <div class="user-nav">
                <div class="user-nav__icon-box">
                    <a href="#" class=""><img src="img/svg/brands/tripadvisor.svg" alt="nav__icon" class="user-nav__icon filter-tripadvisor"></a>
                </div>
                <div class="user-nav__icon-box">
                    <a href="#" class=""><img src="img/svg/brands/twitter.svg" alt="nav__icon" class="user-nav__icon filter-twitter"></a>
                </div>
                <div class="user-nav__icon-box">
                    <a href="#" class=""><img src="img/svg/brands/gmail.svg" alt="nav__icon" class="user-nav__icon filter-gmail"></a>
                </div>
                <div class="user-nav__icon-box">
                    <a href="#" class=""><img src="img/svg/brands/facebook.svg" alt="nav__icon" class="user-nav__icon filter-facebook"></a>
                </div>
                <div class="user-nav__icon-box">
                    <a href="#" class=""><img src="img/svg/brands/linkedin.svg" alt="nav__icon" class="user-nav__icon filter-linkedin"></a>
                </div>



            </div>

        </header>
        <div class="content">
            <nav class="sidebar">
                <ul class="side-nav">
                    <li class="side-nav__item side-nav__item--active">
                        <a href="#" class="side-nav__link">
                            <svg class="side-nav__icon">
                                <use xlink:href="img/sprite.svg#icon-info":></use>
                            </svg>
                            <span>Informations</span>
                        </a>
                    </li>
                    <li class="side-nav__item">
                        <a href="#" class="side-nav__link">
                            <svg class="side-nav__icon">
                                <use xlink:href="img/sprite.svg#icon-mug":></use>
                            </svg>
                            <span>Coffeas</span>
                        </a>
                    </li>
                    <li class="side-nav__item">
                        <a href="#" class="side-nav__link">
                            <svg class="side-nav__icon">
                                <use xlink:href="img/sprite.svg#icon-spoon-knife":></use>
                            </svg>
                            <span>Food</span>
                        </a>
                    </li>
                    <li class="side-nav__item">
                        <a href="#" class="side-nav__link">
                            <svg class="side-nav__icon">
                                <use xlink:href="img/sprite.svg#icon-glass":></use>
                            </svg>
                            <span>Wines</span>
                        </a>
                    </li>
                    <li class="side-nav__item">
                        <a href="#" class="side-nav__link">
                            <svg class="side-nav__icon">
                                <use xlink:href="img/sprite.svg#icon-books":></use>
                            </svg>
                            <span>Books</span>
                        </a>
                    </li>
                    <li class="side-nav__item">
                        <a href="#" class="side-nav__link">
                            <svg class="side-nav__icon">
                                <use xlink:href="img/sprite.svg#icon-location":></use>
                            </svg>
                            <span>Location</span>
                        </a>
                    </li>
                </ul>
                <div class="legal">
                    &copy; 2020 by Coffehouse. All rights reserved
                </div>
            </nav>

            <main class="coffeehouse-view">
                <div class="gallery">
                    <figure class="gallery__item">
                        <img src="img/informations/coffeehouse.jpg" alt="Photo of coffeehouse 1" class="gallery__photo">
                    </figure>
                    <figure class="gallery__item">
                        <img src="img/informations/coffeehouse-2.jpg" alt="Photo of coffeehouse 3" class="gallery__photo">
                    </figure>
                    <figure class="gallery__item">
                        <img src="img/informations/coffeehouse-3.jpg" alt="Photo of coffeehouse 3" class="gallery__photo">
                    </figure>
                </div>
                <div class="overview">
                    <h1 class="overview_heading">
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                        First Floor
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                    </h1>
                    <h1 class="overview_heading">
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                        Garden
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                    </h1>
                    <h1 class="overview_heading">
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                        Second Floor
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                    </h1>
                </div>
                <div class="details">
                    <div class="description">
                        <ul class="list">
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-wifi-full":></use>
                                </svg>
                                <span>Wifi</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-music":></use>
                                </svg>
                                <span>House</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-spoon-knife":></use>
                                </svg>
                                <span>Full Menu</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-smoke_free":></use>
                                </svg>
                                <span>No Smoking Area</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-display":></use>
                                </svg>
                                <span>Sport Events</span>
                            </li>
                        </ul>
                    </div>

                    <div class="description">
                        <ul class="list">
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-wifi_off":></use>
                                </svg>
                                <span>No Wifi</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-music":></use>
                                </svg>
                                <span>Ambient</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-spoon-knife":></use>
                                </svg>
                                <span>Tapas</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-smoking_rooms":></use>
                                </svg>
                                <span>Smoking Area</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-pets":></use>
                                </svg>
                                <span>Pets Allowed</span>
                            </li>
                        </ul>
                    </div>

                    <div class="description">
                        <ul class="list">
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-wifi":></use>
                                </svg>
                                <span>Wifi</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-music":></use>
                                </svg>
                                <span>Classic</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-local_restaurant":></use>
                                </svg>
                                <span>No food</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-smoke_free":></use>
                                </svg>
                                <span>No Smoking Area</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-books":></use>
                                </svg>
                                <span>Books zone</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tripadvisor">
                    <figure class="user-reviews">
                        <figure class="review">
                            <figcaption class="review__user">
                                <img src="img/user-1.jpg" alt="User 1" class="review__photo">
                                <div class="review__user-box">
                                    <p class="review__user-name">Nick Smith
                                    <div class="review__rating">
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-half":></use>
                                        </svg>
                                    </div>
                                    </p>
                                    <p class="review__user-date">Feb 23rd, 2020</p>
                                </div>
                            </figcaption>
                            <blockquote class="review__text">
                                All perfect but they should have more than only 5 types of milk
                            </blockquote>
                        </figure>
                        <figure class="review">
                            <figcaption class="review__user">
                                <img src="img/user-2.jpg" alt="User 1" class="review__photo">
                                <div class="review__user-box">
                                    <p class="review__user-name">Mary Watson
                                    <div class="review__rating">
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                    </div>
                                    </p>
                                    <p class="review__user-date">Sep 13th, 2019</p>
                                </div>
                            </figcaption>
                            <blockquote class="review__text">
                                Perfect food, friendly staff and they accept pets!
                            </blockquote>
                        </figure>
                        <figure class="review">
                            <figcaption class="review__user">
                                <img src="img/user-3.jpg" alt="User 1" class="review__photo">
                                <div class="review__user-box">
                                    <p class="review__user-name">Stephen Queen
                                    <div class="review__rating">
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-empty":></use>
                                        </svg>
                                    </div>
                                    </p>
                                    <p class="review__user-date">Nov 13th, 2019</p>
                                </div>
                            </figcaption>
                            <blockquote class="review__text">
                                Classic music is not only Mozart and Bethoven
                            </blockquote>
                        </figure>
                </div>
            </main>
        </div>
    </div>
    </body>

</html>