<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layouts/layout :: layout(~{::title}, ~{::main})">
    <head>
        <title>Coffee Paradise &mdash; Time for a break</title>
    </head>
    <body>
    <div class="container">
        <div class="content">
            <main class="coffeehouse-view">
                <div class="gallery">
                    <figure class="gallery__item">
                        <img src="img/informations/coffeehouse.jpg" alt="Photo of coffeehouse 1" class="gallery__photo">
                    </figure>
                    <figure class="gallery__item">
                        <img src="img/informations/coffeehouse-2.jpg" alt="Photo of coffeehouse 3" class="gallery__photo">
                    </figure>
                    <figure class="gallery__item">
                        <img src="img/informations/coffeehouse-3.jpg" alt="Photo of coffeehouse 3" class="gallery__photo">
                    </figure>
                </div>
                <div class="overview">
                    <h1 class="overview_heading">
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                        First Floor
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                    </h1>
                    <h1 class="overview_heading">
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                        Garden
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                    </h1>
                    <h1 class="overview_heading">
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                        Second Floor
                        <svg class="overview__heading__icon">
                            <use xlink:href="img/sprite.svg#icon-star":></use>
                        </svg>
                    </h1>
                </div>
                <div class="details">
                    <div class="description">
                        <ul class="list">
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-wifi-full":></use>
                                </svg>
                                <span>Wifi</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-music":></use>
                                </svg>
                                <span>House</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-spoon-knife":></use>
                                </svg>
                                <span>Full Menu</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-smoke_free":></use>
                                </svg>
                                <span>No Smoking Area</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-display":></use>
                                </svg>
                                <span>Sport Events</span>
                            </li>
                        </ul>
                    </div>

                    <div class="description">
                        <ul class="list">
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-wifi_off":></use>
                                </svg>
                                <span>No Wifi</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-music":></use>
                                </svg>
                                <span>Ambient</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-spoon-knife":></use>
                                </svg>
                                <span>Tapas</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-smoking_rooms":></use>
                                </svg>
                                <span>Smoking Area</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-pets":></use>
                                </svg>
                                <span>Pets Allowed</span>
                            </li>
                        </ul>
                    </div>

                    <div class="description">
                        <ul class="list">
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-wifi":></use>
                                </svg>
                                <span>Wifi</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-music":></use>
                                </svg>
                                <span>Classic</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-local_restaurant":></use>
                                </svg>
                                <span>No food</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-smoke_free":></use>
                                </svg>
                                <span>No Smoking Area</span>
                            </li>
                            <li class="description__item">
                                <svg class="description__icon">
                                    <use xlink:href="img/sprite.svg#icon-books":></use>
                                </svg>
                                <span>Books zone</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tripadvisor">
                    <figure class="user-reviews">
                        <figure class="review">
                            <figcaption class="review__user">
                                <img src="img/user-1.jpg" alt="User 1" class="review__photo">
                                <div class="review__user-box">
                                    <p class="review__user-name">Nick Smith
                                    <div class="review__rating">
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-half":></use>
                                        </svg>
                                    </div>
                                    </p>
                                    <p class="review__user-date">Feb 23rd, 2020</p>
                                </div>
                            </figcaption>
                            <blockquote class="review__text">
                                All perfect, but they should have more than 5 types of milk
                            </blockquote>
                        </figure>
                        <figure class="review">
                            <figcaption class="review__user">
                                <img src="img/user-2.jpg" alt="User 1" class="review__photo">
                                <div class="review__user-box">
                                    <p class="review__user-name">Mary Watson
                                    <div class="review__rating">
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                    </div>
                                    </p>
                                    <p class="review__user-date">Sep 13th, 2019</p>
                                </div>
                            </figcaption>
                            <blockquote class="review__text">
                                Perfect food, friendly staff and they accept pets!
                            </blockquote>
                        </figure>
                        <figure class="review">
                            <figcaption class="review__user">
                                <img src="img/user-3.jpg" alt="User 1" class="review__photo">
                                <div class="review__user-box">
                                    <p class="review__user-name">Stephen Queen
                                    <div class="review__rating">
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-full":></use>
                                        </svg>
                                        <svg class="overview__heading__icon">
                                            <use xlink:href="img/sprite.svg#icon-star-empty":></use>
                                        </svg>
                                    </div>
                                    </p>
                                    <p class="review__user-date">Nov 13th, 2019</p>
                                </div>
                            </figcaption>
                            <blockquote class="review__text">
                                Classic music is something more than Mozart
                            </blockquote>
                        </figure>
                    </figure>
                    <div class="cta">
                        <button class="btn">
                            <span class="btn__visible">Book now</span>
                            <span class="btn__invisible">Only 12 tables left</span>
                        </button>
                    </div>
                </div>
            </main>
        </div>
    </div>
    </body>

</html>